{
    "local": {
      "STDLIB_TOKEN": "",
      "SLACK_CLIENT_ID": "",
      "SLACK_CLIENT_SECRET": "",
      "SLACK_VERIFICATION_TOKEN": "",
      "SLACK_OAUTH_SCOPE": "bot,commands,chat:write:bot,chat:write:user,files:write:user,channels:history",
      "SLACK_APP_NAME": "",
      "SLACK_REDIRECT": ""
    },
    "dev": {
      "STDLIB_TOKEN": "",
      "SLACK_CLIENT_ID": "",
      "SLACK_CLIENT_SECRET": "",
      "SLACK_VERIFICATION_TOKEN": "",
      "SLACK_OAUTH_SCOPE": "bot,commands,chat:write:bot,chat:write:user,files:write:user,channels:history",
      "SLACK_APP_NAME": "",
      "SLACK_REDIRECT": ""
    },
    "release": {
      "STDLIB_TOKEN": "",
      "SLACK_CLIENT_ID": "",
      "SLACK_CLIENT_SECRET": "",
      "SLACK_VERIFICATION_TOKEN": "",
      "SLACK_OAUTH_SCOPE": "bot,commands,chat:write:bot,chat:write:user,files:write:user,channels:history",
      "SLACK_APP_NAME": "",
      "SLACK_REDIRECT": ""
    }
  }
  